<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>


    <h2>WAT IS OMOOC?</h2>
    <p>
        Omooc is een nieuwe manier van kennis delen in de publieke sector. Een course van omooc bestaat uit vijf of acht online videocolleges. Ieder college duurt circa 8 tot 12 miniuten. Een collegereeks is opgebouwd rond een actueel thema en  wordt gegeven door toonaangevende sprekers. Die vertellen hun verhaal op een frisse, inspirerende manier. Je kunt de videocolleges via <a href="http://omooc.nl">omooc.nl</a> op elk gewenst moment bekijken, in jouw eigen tijd en tempo. Wil je na het college meer weten? Start na het college een discussie met je studiegenoten.  
    </p>

    <h2>WAAROM OMOOC?</h2>
    <p>
        Met omooc willen we een beweging veroorzaken in het kennislandschap in het openbaar bestuur. Samen met overheden en kennisinstellingen maken we bestaand en nieuw kennisaanbod open en toegankelijk. Continu verbeteren we het concept om omooc inhoudelijk, didactisch, technisch en grafisch nog aantrekkelijker te maken.
    </p>

    <h2>HOE KAN JE OMOOC INZETTEN?</h2>
    <p>
        Je kunt natuurlijk gewoon de videocolleges kijken. Maar nog veel leuker is het om de videocolleges online te delen via social media, en daarbij discussies te starten over de inzicht die je verkregen hebt door een bepaald college(reeks) te bekijken. Je kunt natuurlijk ook offline een bijeenkomst organiseren. Eerst kijk je een videocollege, en daarna discussieer je bijvoorbeeld over een dilemma. Mensen hebben omooc al ingezet bij werkoverleggen, teamdagen, inspiratiebijeenkomsten en colleges van B&W. Aanhaken bij een bijeenkomst? Check de pagina ‘course updates & nieuws’ van jouw cursus voor meer informatie.
    </p>

    <h2>WAAR KOMT DE NAAM OMOOC VANDAAN?</h2>
    <p>
        De naam omooc is een samentrekking van twee dingen. Ten eerste MOOC, afkorting voor Massive Online Open Course, belangrijke ontwikkeling in het onderwijs. Ten tweede de ‘o’ van overheid, want dat is waar de omooc courses over gaan. Samen wordt het omooc. En hoe je dat uitspreekt? Zo: “o-moek”. Kan niet misgaan.
    </p>

    <h2>DISCLAIMER / JURIDISCH</h2>
    <p>
        Omooc is open. Materiaal dat ontwikkeld wordt voor omooc valt onder de Creative Commons licentie: <strong><a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Naamsvermelding-Gelijk
            Delen 4.0 Internationaal (CC BY-SA 4.0)</a></strong>. Het ontwikkelde lesmateriaal kan met bronvermelding vrij worden bestudeerd, gedeeld en verspreid. Dat wil zeggen: voor iedereen is het te hergebruiken.
    </p>


</section>


