<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
    <h2>Initiatiefnemers omooc</h2>
    <p>Omooc is een initiatief van Vereniging voor
        Overheidsmanagement (VOM), Vereniging van Gemeentesecretarissen (VGS), Ministerie van
        Binnenlandse Zaken, A+O Fonds Gemeenten, Vereniging Nederlandse Gemeenten, IKPOB,
        Interprovinciaal Overleg (IPO), Vereniging van directeuren van waterschappen, Beter
        werken in het openbaar bestuur en Public Cinema.</p>

    <p><i>Heb je vragen over omooc? Neem contact op met
        Lydia-Jos&eacute; Prinsen via 06 - 15226729 of <a href="mailto:lydia@vom-online.nl?subject=omooc.nl">lydia@vom-online.nl</a>.</i></p>

</section>
