<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>


<h2>HEB IK EEN OMOOC ACCOUNT NODIG OM IN TE LOGGEN?</h2>
<p>Nee. Het is ook mogelijk om in te loggen met je social media account. De social media die dit ondersteunen zijn: Twitter, Linkedin en Facebook.</p>

<h2>WAT ZIJN DE VOORDELEN VAN HET HEBBEN VAN EEN OMOOC ACCOUNT?</h2>
<p>Als je ingelogd bent met het omooc account heb je onbeperkt toegang tot de colleges en aanvullend materiaal die op omooc beschikbaar zijn en blijf je up-to-date over de laatste ontwikkelingen. Daarnaast kun je alle online discussies volgen en eraan deelnemen.</p>

<h2>HOE MELD IK MIJ AAN?</h2>
<p>Op de site van <a href="http://omooc.nl">omooc.nl</a> staat rechtsboven het kopje ‘aanmelden’. Druk op de knop ‘registreer een account’. Hierna is het mogelijk om je persoonlijke gegevens in te vullen. Daarna accepteer je de voorwaarden en druk je op de knop ‘maak je account aan’. Je ontvangt een bevestigingsmailtje in je mailbox. In deze e-mail staat een link waarmee je jouw account activeert. Na het activeren van je account kun je direct starten met het volgen van de online colleges!</p>

<h2>MAG IK MATERIAAL VAN OMOOC KOPI&Euml;REN?</h2>
<p>Omooc is open. Materiaal dat ontwikkeld wordt voor omooc valt onder de Creative Commons licentie: Naamsvermelding-Gelijk Delen 4.0. Internationaal (CC BY -SA 4.0). Het ontwikkelde lesmateriaal kan met bronvermelding vrij worden bestudeerd, gedeeld en verspreid. Dat wil zeggen: voor iedereen is het te hergebruiken.</p>



</section>
