<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>


    <h2>Heb ik een omooc account nodig om in te loggen?</h2>
    <p>
        Nee. Het is ook mogelijk om in te loggen met je social media account. De social media
        die dit ondersteunen zijn: Twitter, Linkedin en Facebook.<br />
        <br />Wat zijn de voordelen van het hebben van een omooc
        account?
    </p>

    <h2>Wat zijn de voordelen van het hebben van een omooc account?</h2>
    <p>Als je ingelogd bent met het omooc account heb je
        onbeperkt toegang tot de colleges die op omooc beschikbaar zijn, aanvullend materiaal
        en blijf je up-to-date over de laatste ontwikkelingen. Daarnaast is het mogelijk om
        alle online discussies te volgen en eventueel aan deel te nemen.<br />
        <br />Hoe meld ik mij aan?<br />Op
        de site van <a href="http://www.omooc/nl">
            omooc.nl</a> staat rechtsboven het kopje
        ‘aanmelden’. Druk op de knop ‘registreer een account’. Hierna
        is het mogelijk om je persoonlijke gegevens in te vullen. Als volgt accepteer je de
        voorwaarden en druk je op de knop ‘maak je account aan’. Je ontvangt een
        bevestigingsmailtje in je mailbox. In deze e-mail staat een link waarmee je jouw
        account activeert. Na het activeren van je account kun je direct starten met het volgen
        van de online colleges!</p>


    <h2>Mag ik materiaal van omooc kopiëren?</h2>
        <p>
        Omooc is open. Materiaal dat ontwikkeld wordt voor omooc valt onder de Creative Commons licentie: Naamsvermelding-Gelijk Delen 4.0. Internationaal (CC BY -SA 4.0).
        Het ontwikkelde lesmateriaal kan met bronvermelding vrij worden
        bestudeerd, gedeeld en verspreid. Dat wil zeggen: voor iedereen is het het te
        hergebruiken.
        </p>


</section>
