<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy")}</%block>

<section class="container about">
<h1>${_("Privacy")}</h1>
<p>Omooc registreert gegevens over het gebruik van zijn website alleen voor verbetering van de website. Het gaat dan om bezoekersaantallen, bekeken videocolleges en bezochte pagina’s. Met deze gegevens kan omooc zijn website en online cursussen aanpassen aan de wensen van de gebruiker.</p>

<p>Persoonsgegevens verzamelen wij alleen indien je vrijwillig je registreert als deelnemer op omooc. Na registratie zullen wij deze gegevens alleen gebruiken om je in het kader van de cursus waarvoor je bent aangemeld op omooc.nl te contacteren.</p>

<p>Omooc maakt je persoonsgegevens niet openbaar. Wij zullen je persoonsgegevens nooit verstrekken aan derden, voor welke doeleinden dan ook.</p>
</section>
