## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
            <li class="nav-colophon-0${item_num}">
              <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
            </li>
            % endfor

            <li class="twitter">
                <a href="https://twitter.com/omoocs" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @omoocs</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li class="youtube">
                <script src="https://apis.google.com/js/platform.js"></script>
                <div class="g-ytsubscribe" data-channelid="UCWsfo9Ll-W23UlS8IarSFQQ" data-layout="default" data-count="default"></div>
            </li>
            <li class="googleplus">

                <a href="https://plus.google.com/communities/111346532142684031880?prsrc=3"
                   rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
                    <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;">omooc.nl</span><span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;">on</span>
                    <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
                </a>

            </li>


            <li class="footer-about-openedx">
                <p>
                    <a href="${footer['openedx_link']['url']}">
                        <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
                    </a>
                </p>
            </li>

        </ol>
      </nav>

      <div class="wrapper-logo">
        <p style="text-align: center">
          <h1 style="margin-top: 20px; font-size: 20px; text-align: center; margin-bottom: 15px;">
            <a href="http://www.public-cinema.com"target="_blank">
                <img alt="organization logo" src="${static.url("images/footer/public-cinema.png")}"  /><br /><br />
                Public Cinema is partner van omooc.nl
            </a>
          </h1>
          <hr />

          <a href="/">
            ## The default logo is a placeholder.
            ## You can either replace this link entirely or update
            ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
            ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
            ## can be included in the footer on other sites
            ## (e.g. a blog or marketing front-end) to provide a consistent
            ## user experience.  See the branding app for details.

              <img alt="organization logo" style="width: 100%" src="${static.url("images/footer/omooc-partners-ambitie.jpg")}" />


          </a>
        </p>
      </div>

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <p class="copyright">${footer['copyright']}</p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
          % for item_num, link in enumerate(footer['legal_links'], start=1):
            <li class="nav-legal-0${item_num}">
              <a href="${link['url']}">${link['title']}</a>
            </li>
          % endfor
        </ul>
      </nav>
    </div>

    ## Please leave this link and use one of the logos provided
    ## The OpenEdX link may be hidden when this view is served
    ## through an API to partner sites (such as marketing sites or blogs),
    ## which are not technically powered by OpenEdX.
    % if not hide_openedx_link:

    % endif
  </footer>
</div>
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

    __gaTracker('create', 'UA-61864592-1', 'auto');
    __gaTracker('require', 'displayfeatures');
    __gaTracker('send','pageview');

</script>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
